    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        color: #5c0a28;
        background-color: #a9a9a9;
    }
    .topbar {
        height: 10px;
        background-color: #5e0928;
    }
    /* petals background */
   petalbox{
        position: fixed;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        z-index: -1;
        pointer-events: none;
    }
    /*INDIVIDUAL PETALS*/
    .petal {
        position: relative;
        width: 15px;
        height: 15px;
        background-color: #5e092e;
        border-radius: 50%;
        opacity: 0.7;
        animation:drift 5s linear infinite;
    }
    /* Petal animation */
    @keyframes drift {
        0% {
            transform: translateY(-50px) translateX(0);
            opacity:1;
        }
        100%{
            transform: translateY(100vh) translateX(30px);
            opacity:0;
        }
    }

    .logo{
        border-radius: 50px;
        width: 100px;
        height: 100px;
        justify-items: center;
        padding: auto;
    }
nav{
     justify-content:right;
     color: #a9a9a9;
     display: flex;
     justify-content: space-between;
     align-items: center;
     background-color: #1a3c5e;
     padding: 0 40px;
     height: 60px;
     position: sticky;
     top: 0;
     z-index: 1000;
}
    